body {
    background-color: darkgrey;
}

.gw-container {
    margin-top: 50px;
}

.gw-navbar {
    width: 50%;
}

.gw-heading {
    text-align: center;
}

.gw-heading__text {
    font-size: 70px;
    color: gold;
    transition: font-size 2s, color 2s, transform 2s;
}

.gw-heading__text:hover {
    color: coral;
    font-size: 140px;
    transform: rotate(180deg);
}
