body {
    background-color: darkgrey;
}

.gw-container {
    margin-top: 50px;
}

.gw-navbar {
    width: 50%;
}

.gw-heading {
    text-align: center;
}

.gw-heading__text {
    font-size: 70px;
    color: gold;    
}

.gw-navbar__options {
    display: none;
}
